/* --------------------IMPOSTAZIONI GENERALI -------------------------------- */
* {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1260px;
}

.centrato {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrato-right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/* ------------------- FINE IMPOSTAZIONI GENERALI --------------------------- */
/* --------------------------- INIZIO HEADER -------------------------------- */
header ul li {
  display: inline-block;
  font-size: 11px;
  line-height: 60px;
  margin-right: 5px;
}

header ul {
  display: inline-block;
}

/* MENU NASCOSTO */
.hamburger {
  display: none
}

/* MENU FISSO */
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  background: white;
}

.logo-header {
  line-height: 60px;
}

.logo-header img {
  height: 13px;
}

/* SFONDO HEADER */
.sfondo-header {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titolo-sfondo {
  text-align: center;
  color: white;
}

.titolo-sfondo p {
  margin: 15px 0;
  font-size: 12px;
}

.titolo-sfondo img {
  height: 35px;
}

/* ---------------------------- FINE HEADER --------------------------------- */
/* ---------------------------- INIZIO MAIN --------------------------------- */
/* PERTURA CONTENITORE IMMAGINI GO E BIKE */
.gobike {
  padding: 30px 0;
}

.gobike a:hover {
  text-decoration: underline;
}

.go,
.bike {
  position: relative;
  background: #fafafa;
  text-align: center;
  margin-right: 10px;
  padding: 50px;
}

.go img,
.bike img {
  width: 100%;
}

.go h2,
.bike h2 {
  font-weight: 600;
  font-size: 32px;
}

.go p,
.bike p {
  margin: 15px 0;
  font-size: 18px;
}

.go a,
.bike a {
  color: blue;
  font-size: 13px;
}

/* CHIUSURA CONTENITORE IMMAGINI GO E BIKE */
/* PERTURA CONTENITORE BANNER */
.banner-main {
  width: 100%;
  height: 300px;
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.phone img {
  height: 300px;
  position: relative;
  bottom: 150px;
  transform: scale(1.5);
}

.phone .left,
.phone .right {
  padding-top: 8%;
}

.phone .right {
  font-size: 10px;
}

.phone .right p {
  font-weight: bold;
  margin-top: 10px;
}

/* CHIUSURA CONTENITORE BANNER */
/* APERTURA CONTENITORE INFO */
.info a:hover {
  text-decoration: underline;
}

.info .center {
  background-image: url(../img/ScooterHelbiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin-top: -70px;
  position: relative;
  margin-bottom: 20px;
}

.text-right {
  width: 30%;
  text-align: center;
  color: white;
}

.text-right h3 {
  font-size: 35px;
}

.text-right p {
  font-size: 14px;
  margin: 20px 0;
}

.link-white a {
  color: white;
}

.info .left {
  background-image: linear-gradient(#41566a, #26313a);
  height: 350px;
}

.info .left .telefono {
  background-image: url(../img/HelbiZAPP.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 220px;
  position: relative;
  top: -9px;
}

.info .right {
  background-image: url(../img/Cities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.info .right,
.info .left {
  text-align: center;
  color: white;
  margin-right: 20px;
}

.info .right h3,
.info .left h3 {
  padding-top: 20px;
}

.info .right p,
.info .left p {
  margin: 20px 0;
}

/* CHIUSURA CONTENITORE INFO */
/* APERTURA CONTENITORE FAMILY */
.banner-family {
  background-image: url(../img/Social-Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  margin: 20px 0;
}

.box-family {
  background: white;
  padding: 50px 80px;
  font-size: 20px;
}

.box-family ul li {
  display: inline-block;
  width: 22%;
  text-align: center;
}

.box-family i {
  width: 100%;
  font-size: 27px;
}

/* CHIUSURA CONTENITORE FAMILY */
/* ----------------------------- FINE MAIN -----------------------------------*/
/* --------------------------- APERTURA FOOTER ------------------------------ */
footer {
  background: black;
}

hr {
  width: 70%;
  margin: auto;
}

/* FOOTER TOP */
.container-footer-top {
  color: white;
  background: black;
  padding-top: 90px;
  padding-bottom: 30px;
}

.container-footer-top a {
  color: gray;
}

.product-footer li,
.info-footer li,
.helbiz-footer li {
  margin-bottom: 15px;
}

/* FOOTER BOTTOM */
.container-footer-bottom {
  padding: 30px 0;
  background: black;
}

.container-footer-bottom a {
  color: white;
  font-size: 12px;
}

.social-footer a {
  color: white;
  font-size: 20px;
}

.social-footer li {
  display: inline-block;
  margin-right: 10px;
}

/* APP STORE FOOTER */
.store-footer {
  text-align: center;
  padding: 30px;
}

.store-footer img {
  margin: auto;
  height: 40px;
  margin-right: 10px;
}

.video {
  width: 100%;
  height: 300px;
}

/* --------------------------- CHIUSURA FOOTER ------------------------------ */
/* ----------------------  INIZIO MEDIA QUERY MOBILE ------------------------ */
@media all and (max-width: 768px) {
  .menu {
    display: none;
    background: white;
    width: 780px;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: left;
    padding-left: 50px;
  }

  /* APERTURA MENU HEADER */
  header ul.lingue {
    display: none;
  }

  .hamburger {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 22px;
  }

  /* APERTURA MENU NASCOSTO */
  .hamburger:hover .menu {
    display: block;
  }

  /* APERTURA MAIN GOBIKE */
  main .go {
    margin-bottom: 20px;
  }

  /* APERTURA BANNER */
  .banner-main {
    background-position: 30%, 100%;
  }

  .phone img {
    height: 300px;
    position: relative;
    bottom: 150px;
    transform: scale(1.5);
  }

  /* APERTURA INFO */
  .centrato-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info .right,
  .info .left {
    margin-right: 0px;
  }

  .info .right {
    margin-top: 20px;
  }

  /* APERTURA FOOTER */
  .container-footer-top {
    text-align: left;
    padding-top: 0px;
    padding-left: 20px;
  }

  .container-footer-top img {
    padding-top: 50px;
    width: 150px;
  }

  .container-footer-bottom {
    text-align: left;
    padding: 20px;
  }

  .container-footer-bottom span {
    margin-top: 15px;
    display: inline-block;
  }

  hr {
    width: 100%;
  }

  .product-footer h3,
  .info-footer h3,
  .helbiz-footer h3 {
    margin-top: 30px;
  }
}

/* ----------------------- FINE MEDIA QUERY MOBILE -------------------------- */
/* ----------------------  INIZIO MEDIA QUERY TABLET ------------------------ */
@media all and (min-width: 769px) and (max-width: 992px) {
  .phone img {
    height: 300px;
    position: relative;
    bottom: 150px;
    transform: scale(1.5);
  }

  .logo-footer {
    padding-bottom: 50px;
  }
}

/* ------------------------ FINE MEDIA QUERY TABLET ------------------------- */
